@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}
a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 835px;
}

button {
    outline: none;
}
.active {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
    box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
}

.product {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 70px;
}
.product__more {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
        "a b c"
        "d e f" 
}

